input[type=range].vertical {
    transform: rotate(-0.25turn);
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
    overflow: hidden;
    border: 1px solid var(--color-gray-400);
    background: none;
}

/* WebKit 系（Chrome / Safari） */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 9999px;
    border: none;
    background-clip: padding-box;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 9999px;
    background-clip: padding-box;
}

/* Firefox */
input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 9999px;
}